<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.OrangeHrmTest"/>
      <class name="testNG.BeforeClass_AfterrClass"/>
      <class name="testNG.FirstTestcase"/>
      <class name="testNG.Beforemethods_Aftermethods"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
